.ui-footer {
    &-creative {
        padding: 120px 104px;
    }

    background: #ffffff;
    box-shadow: $shadow5;

    &__nav-block {
        box-sizing: border-box;
        padding: 100px 140px 0px 140px;
        min-height: 372px;

        line-height: 24px;
    }

    &__nav-column {
        padding-left: 40px;
        padding-top: 4px;
        .ui-footer__column-auto {
            &:nth-of-type(2) {
                padding-left: 8px;
            }
            &:nth-of-type(3) {
                padding-left: 41px;
            }
        }
    }

    &__credits-block {
        box-sizing: border-box;
        padding-left: 140px;
        padding-right: 140px;
        min-height: 70px;

        border-top: 1px solid $color-dark-shade10;
    }

    &--margin-top {
        &17 {
            margin-top: 17px;
        }
        &20 {
            margin-top: 20px;
        }
        &22 {
            margin-top: 22px;
        }
    }

    &--text-center {
        text-align: center;
    }

    &--width260 {
        max-width: 260px;
    }

    &__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &--align-center {
        align-items: center;
    }

    &--justify-between {
        justify-content: space-between;
    }
    &--justify-center {
        justify-content: center;
    }

    &__column100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &__column {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    &__column-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
}
