include ../toxin-logo/toxin-logo.pug
include ../s-media/s-media.pug
include ./footer-list/footer-list.pug
include ../input/input.pug
include ../icons/arrow-forward/arrow-forward.pug

mixin footer(props)
    - const { loggedIn = false, name = "" } = props;

    article.ui-footer.ui-footer__row
        section.ui-footer__column100
            .ui-footer__nav-block.ui-footer--padding-x.ui-footer__row
                section.ui-footer__column-auto
                    .ui-footer__column-auto
                        +toxin-logo
                    .ui-footer__column-aut.ui-footer--margin-top17.ui-footer--width260 Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

                section.ui-footer__column.ui-footer__nav-column
                    .ui-footer__row.ui-footer--justify-between
                        .ui-footer__column-auto
                            +footer-list({title: "навигация", list: [{title: "О нас", node: "a", href: "/urlunset"}, {title: "Новости", node: "a", href: "/urlunset"}, {title: "Служба поддержки", node: "a", href: "/urlunset"}, {title: "Услуги", node: "a", href: "/urlunset"}]})
                        .ui-footer__column-auto
                            +footer-list({title: "о нас", list: [{title: "О сервисе", node: "a", href: "/urlunset"}, {title: "Наша команда", node: "a", href: "/urlunset"}, {title: "Вакансии", node: "a", href: "/urlunset"}, {title: "Инвесторы", node: "a", href: "/urlunset"}]})
                        .ui-footer__column-auto
                            +footer-list({title: "Служба поддержки", list: [{title: "Соглашения", node: "a", href: "/urlunset"}, {title: "Сообщества", node: "a", href: "/urlunset"}, {title: "Связь с нами", node: "a", href: "/urlunset"}]})
                        .ui-footer__column-auto.ui-footer--margin-top-lg20
                            +footer-list({title: "Подписка", hasBlock: true, list: [{title: "Получайте специальные предложения и новости сервиса", node: "subscribe"}]}) 
                                +input({placeholder:"Email", submitable: true}) 
                                    +arrow-forward

        section.ui-footer__column100
            .ui-footer__credits-block.ui-footer--padding-x.ui-footer__row.ui-footer--align-center.ui-footer--justify-between.ui-footer--justify-xs-center
                .ui-footer__column-auto.ui-footer__column-xs100.ui-footer--text-xs-center Copyright © 2018 Toxin отель. Все права зачищены.
                .ui-footer__column-auto
                    +s-media({twitter: true, facebook: true, instagram: true })
