mixin image-slider(props)
    - const { images, alt = [], noButtons = false } = props;
    div(class=`ui-image-slider${noButtons ? " ui-image-slider--no-buttons" : ""}`)
        .js-image-slider
            each image, key in images
                img(src=image, alt=alt[key])
