.typography-list {
    list-style: none;
    margin: 0;
    padding: 0;

    max-width: 436px;

    &__entry:first-of-type {
        margin-top: 0px;
    }
    &__entry:nth-child(3) {
        margin-top: 52px;
    }
    &__entry:last-of-type {
        margin-top: 48px;
    }
    &__entry {
        margin-top: 51px;
    }
}
