include color-entry/color-entry.pug
- var colors = [{value: 'Dark Shade 100%', description: "#1F2041", variant: "dark100"}, {value: 'Dark Shade 75%', description: "#1F2041", variant: "dark75"}, {value: 'Dark Shade 50%', description: "#1F2041", variant: "dark50"}, {value: 'Dark Shade 25%', description: "#1F2041", variant: "dark25"}, {value: 'Dark Shade 5%', description: "#1F2041", variant: "dark5"}, {value: 'Purple', description: "#BC9CFF", variant: "purple"}, {value: 'Green', description: "#6FCF97", variant: "green"}];

ul.color-list
    each singleColor in colors
        li.color-list__entry
            +color-entry(singleColor.value, singleColor.description, singleColor.variant)
