.ui-button {
    position: relative;

    min-width: 99px;

    border: none;
    border-radius: 22px;

    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    text-transform: uppercase;

    background: $color-gradient-purple;

    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: unset;
    }
    &:focus {
        outline: none;
    }

    &--md {
        padding: 14px 19px 15px 19px;
        &.ui-button--outlined {
            padding: 12px 17px 13px 17px;
        }

        &.ui-button--nofill {
            padding: 0;
        }
    }

    &--md-o {
        padding: 14px 19px 15px 16px;
    }

    &--sm {
        padding: 9px 20px 10px 20px;

        &.ui-button--outlined {
            min-width: 87px;
            padding: 7px 18px 8px 18px;
        }
    }

    &--outlined {
        min-width: 99px;

        border: 2px solid transparent;

        color: $color-purple;

        background: linear-gradient(white, white) padding-box,
            $color-gradient-purple;
    }

    &--nofill {
        min-width: unset;

        color: $color-purple;
        background: none;
    }

    &--long {
        width: 100%;
        max-width: 320px;

        .ui-button__icon {
            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &__icon {
        position: absolute;
        display: flex;

        padding: 0px 14px 0px 14px;

        height: 100%;

        align-items: center;

        right: 0;
        top: 0;
    }
}
