.colors-page-layout {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: space-between;

    &--padding {
        padding: 67px 158px 145px 150px;
    }

    &__column {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
}
