extends ../../components/main-layout/main-layout.pug

block meta
    title Цвета и типография
block navigation
    include ../../components/ui-kit-nav/ui-kit-nav.pug
block content
    include color-list/color-list.pug
