extends ../../components/ui-kit-demostartion-layout/ui-kit-demostartion-layout.pug

block meta
    title Цвета и типография
    meta(name="description", content="Demo page")
block content
    article.colors-page-layout.colors-page-layout--padding
        section.colors-page-layout__column
            include color-list/color-list.pug
        section.colors-page-layout__column
            include typography-list/typography-list.pug
