extends ../form-page-block-layout/form-page-block-layout.pug
block col1
    .form-page-top-block
        .form-page-top-block__column inputs
        .form-page-top-block__column 1
        .form-page-top-block__column 2
block col2
    .form-page-top-block
        .form-page-top-block__column boxes
        .form-page-top-block__column 1
        .form-page-top-block__column 2
block col3
    .form-page-top-block
        .form-page-top-block__column buttons
        .form-page-top-block__column 1
        .form-page-top-block__column 2
