.form-page-top-block {
    &__row {
        display: -ms-flexbox;
        display: flex;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &--spacing {
        margin-left: -10px;
        margin-right: -10px;
        .form-page-top-block__column100,
        .form-page-top-block__column50 {
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__column100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &__column50 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    &--width-lg {
        max-width: 320px;
    }
    &--margin-top-sm {
        margin-top: 20px;
    }
    &--margin-top-md {
        margin-top: 40px;
    }
}
