.ui-range-slider {
    height: 14px;
    .irs {
        width: 100%;
        height: 14px;

        &-line {
            margin: 0;
            padding: 0;

            top: 4px;

            height: 6px;

            border: 1px solid $color-dark-shade25;
            background-color: white;
            box-sizing: border-box;
            border-radius: 3px;
        }

        &-bar {
            margin: 0;
            padding: 0;

            top: 4px;

            height: 6px;

            background: $color-gradient-green;
            border-radius: 3px;
        }

        &-handle.from,
        &-handle.to {
            top: -1px;

            width: 16px;
            height: 16px;
            background: $color-gradient-green;
            border: 2px solid #ffffff;
            border-radius: 50%;

            box-shadow: none;
        }
    }
}
