mixin footer-list(props)
    - const { title, list = [], hasBlock = false } = props;

    .ui-footer-list
        .ui-footer-list__title.ui-footer-list__title--margin #{title}
        each value in list
            case value.node
                when "a"
                    a.ui-footer-list__item(href=value.href) #{value.title}
                when "div"
                    .ui-footer-list__item  #{value.title}
        if hasBlock
            .ui-footer-list__item
                block
