include ../icons/comfort/comfort.pug
include ../icons/convinient/convinient.pug
include ../icons/cosy/cosy.pug

mixin feature(props)
    - const { icon, title, description } = props;

    .ui-feature
        .ui-feature__icon-container
            case icon
                when "comfort"
                    +comfort
                when "convinient"
                    +convinient
                when "cosy"
                    +cosy

        .ui-feature__label
            .ui-feature__label-title #{title}
            .ui-feature__label-description #{description}
