$color-dark-shade100: #1f2041;
$color-dark-shade75: rgba(31, 32, 65, 0.75);
$color-dark-shade50: rgba(31, 32, 65, 0.5);
$color-dark-shade25: rgba(31, 32, 65, 0.25);
$color-dark-shade10: rgba(31, 32, 65, 0.1);
$color-dark-shade5: rgba(31, 32, 65, 0.05);
$color-purple: #bc9cff;
$color-green: #6fcf97;
$color-gradient-yellow: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$color-gradient-purple: linear-gradient(180deg, $color-purple 0%, #8ba4f9 100%);
$color-gradient-green: linear-gradient(180deg, $color-green 0%, #66d2ea 100%);
$color-gradient-black: linear-gradient(180deg, #919191 0%, #3d4975 100%);
$color-gradient-dark: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
);

$shadow20: 0px 0px 25px rgba(0, 0, 0, 0.2);
$shadow10: 0px 10px 20px rgba(31, 32, 65, 0.1);
$shadow5: 0px 10px 20px rgba(31, 32, 65, 0.05);
