.form-page-block-layout
    section.form-page-block-layout__column
        block col1
    section.form-page-block-layout__column.form-page-block-layout--padding-left
        block col2
    section.form-page-block-layout__column
        block col3
