.form-page-block-layout
    .form-page-block-layout__column
        block col1
    .form-page-block-layout__column.form-page-block-layout--padding-left
        block col2
    .form-page-block-layout__column
        block col3
