extends ../form-page-block-layout/form-page-block-layout.pug
include ../../../../ui-kit/collapse/collapse.pug
include ../../../../ui-kit/vertical-list/vertical-list.pug

block col1
    .form-page-block
        .form-page-block__column100.form-page-block--width-320
            .form-page-block__column100.form-page-block--width-266
                +collapse({label: "expandable checkbox list"})
                    +vertical-list({labelVariant: "none", variant: "checkbox", list: [{mainLabel: "Завтрак"}, {checked:"checked", mainLabel: "Письменный стол"}, {checked:"checked", mainLabel: "Стул для кормления"}, {checked:"checked", mainLabel: "Кроватка"}, {mainLabel: "Телевизор"}, {mainLabel: "Шампунь"}]})
            .form-page-block__column100.form-page-block--width-266.form-page-block--margin-top-sm
                +collapse({label: "expandable checkbox list", expanded: true}) 
                    +vertical-list({labelVariant: "none", variant: "checkbox", list: [{mainLabel: "Завтрак"}, {checked:"checked", mainLabel: "Письменный стол"}, {checked:"checked", mainLabel: "Стул для кормления"}, {checked:"checked", mainLabel: "Кроватка"}, {mainLabel: "Телевизор"}, {mainLabel: "Шампунь"}]})

block col2
    .form-page-block

block col3
    .form-page-block
