mixin collapse(props)
    - const { label, expanded = false } = props;

    div(
        class='ui-collapse ui-collapse__row js-collapse collapsable-slide' + (expanded ? ' ca-default-expanded' : '')
    )
        .ui-collapse__label.ui-collapse__column100
            .ui-collapse__row.ui-collapse--align-center
                h3.ui-collapse__column #{label}
                .ui-collapse__column-auto.ui-collapse--icon-padding
                    .ui-collapse__icon

        .ui-collapse__element.ui-collapse__column100
            block
