.ui-review-card {
    line-height: 24px;

    &__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    &__column100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &__column {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    &__colum-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    &--margin-top {
        margin-top: 10px;
    }

    &__element-container {
        width: 48px;
        margin-right: 10px;
    }

    &__like-container {
        margin-top: 2px;
        margin-left: 2px;
        max-width: 40px;
    }

    &__icon-window {
        position: relative;

        width: 48px;
        height: 48px;

        filter: drop-shadow($shadow10);
        border-radius: 50%;

        img {
            max-width: 48px;
            clip-path: circle(21px at 24px 24px);
        }

        &:after {
            content: "";
            display: block;
            position: absolute;

            top: 0;
            left: 0;

            width: 48px;
            height: 48px;

            border-radius: 50%;

            border: 2px solid #ffffff;
            box-sizing: border-box;
        }
    }

    &__title {
        font-weight: bold;
    }
}
