.ui-card {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px 29px 30px 29px;

    &__row {
        display: -ms-flexbox;
        display: flex;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        box-sizing: border-box;
    }

    &--justify-between {
        justify-content: space-between;
    }
    &--align-center {
        align-items: center;
    }
    &--align-end {
        align-items: flex-end;
    }

    &__column100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &__column50 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    &__column {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    &__column-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    &--spacing {
        margin-left: -10px;
        margin-right: -10px;
        .ui-card__column100,
        .ui-card__column50 {
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
        }

        &-sm {
            margin-left: -5px;
            margin-right: -5px;
            .ui-card__column100,
            .ui-card__column50 {
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    &--margin-bottom {
        &-xs {
            margin-bottom: 10px;
        }
        &-sm {
            margin-bottom: 15px;
        }
        &-md {
            margin-bottom: 20px;
        }
        &-lg {
            margin-bottom: 25px;
        }
        &-xl {
            margin-bottom: 30px;
        }
    }

    &__book-title {
        padding-bottom: 3px;
    }

    &__book-title-number {
        b {
            padding-bottom: 3px;

            font-size: 14px;
            line-height: 17px;
            color: $color-dark-shade100;
        }
        h3 {
            padding-bottom: 1px;

            color: $color-purple;
        }
    }
    &__book-title-price {
        font-size: 12px;
        line-height: 18px;

        b {
            font-size: 14px;
            line-height: 18px;
        }
    }
}
