mixin card(props)
    - const { title } = props;

    .ui-card.ui-card__row
        if (title)
            .ui-card__column100.ui-card--margin-bottom-md
                h1 #{title}
        .ui-card__column100
            block
