mixin card(props)
    - const { title, type = "default", titleMargin = "20" } = props;

    article(class=`ui-card ui-card--${type} ui-card__row`)
        if (title)
            header(class=`ui-card__column100 ui-card--margin-bottom${titleMargin}`)
                h1 #{title}
        .ui-card__column100
            block
