.auth-page {
    box-sizing: border-box;

    background-image: url('../../public/bg/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &__column-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    &__card {
        max-width: 380px;
    }

    &--justify {
        &-center {
            justify-content: center;
        }
    }

    &--align {
        &-center {
            align-items: center;
        }
    }

    &--login-variant {
        min-height: 703px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    &--reg-variant {
        min-height: 683px;
        padding-left: 8px;
    }
}

@media (max-width: 1500px) {
    .auth-page {
        background-position: 50% -69px;
    }
}

@media (max-width: 1400px) {
    .auth-page {
        background-position: 50% 50%;
    }
}
