.ui-pie {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &__diagram {
        overflow: hidden;
        position: relative;

        height: calc(var(--size, 200) * 1px);
        width: calc(var(--size, 200) * 1px);

        border-radius: 100%;
    }

    &__segment {
        --a: calc(var(--over50, 0) * -100%);
        --b: calc((1 + var(--over50, 0)) * 100%);
        --degrees: calc((var(--start, 0) / 100) * 360);

        position: absolute;

        height: 100%;
        width: 100%;

        z-index: calc(1 + var(--over50));

        transform-origin: 50% 100%;
        transform: translate(0, -50%) rotate(90deg)
            rotate(calc(var(--degrees) * 1deg));

        -webkit-clip-path: polygon(
            var(--a) var(--a),
            var(--b) var(--a),
            var(--b) var(--b),
            var(--a) var(--b)
        );
        clip-path: polygon(
            var(--a) var(--a),
            var(--b) var(--a),
            var(--b) var(--b),
            var(--a) var(--b)
        );

        &:after,
        &:before {
            content: '';
            position: absolute;

            height: 100%;
            width: 100%;

            background: var(--bg, #e74c3c);
        }
        &:before {
            --degrees: calc((var(--sector, 45) / 100) * 360);
            transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
            transform-origin: 50% 0%;
        }
        &:after {
            opacity: var(--over50, 0);
        }
    }

    &__votes-container {
        position: absolute;
        z-index: 100;

        top: 4px;
        left: 4px;

        width: calc(100% - 8px);
        height: calc(100% - 8px);

        border-radius: 50%;
        background-color: white;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;
    }

    &__votes {
        //cannot be centered without negative margins; design error?
        margin-top: -5px;
        margin-left: -1px;

        color: $color-purple;
        text-align: center;
        font-weight: bold;

        font-size: 15px;
        line-height: 15px;

        h1 {
            color: $color-purple;
        }
    }

    &__legend {
        align-self: flex-end;
        //cannot be pushed to bottom without negative margins; design error?
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: -3px;
        padding-left: 0px;

        list-style: none;

        li {
            position: relative;
            padding-left: 15px;

            line-height: 24px;

            &::before {
                content: '';
                position: absolute;
                display: block;

                width: 10px;
                height: 10px;
                border-radius: 50%;

                top: 7px;
                left: 0;
                background: black;
            }

            &.ui-pie__legend--yellow {
                &::before {
                    background: $color-gradient-yellow;
                }
            }
            &.ui-pie__legend--green {
                &::before {
                    background: $color-gradient-green;
                }
            }
            &.ui-pie__legend--purple {
                &::before {
                    background: $color-gradient-purple;
                }
            }
            &.ui-pie__legend--black {
                &::before {
                    background: $color-gradient-black;
                }
            }
        }
    }
}
