include ../icons/twitter/twitter.pug
include ../icons/facebook/facebook.pug
include ../icons/instagram/instagram.pug

mixin s-media(props)
    - const { twitter, facebook, instagram } = props;

    .ui-smedia.ui-smedia__row.ui-smedia--align-center.ui-smedia--spacing.ui-smedia--padding-sm
        if twitter
            .ui-smedia__column-auto
                a.ui-smedia__button(href='https://www.twitter.com/urlunset')
                    +twitter
        if facebook
            .ui-smedia__column-auto
                a.ui-smedia__button(href='https://www.facebook.com/urlunset')
                    +facebook
        if instagram
            .ui-smedia__column-auto
                a.ui-smedia__button(href='https://www.instagram.com/urlunset')
                    +instagram
