include ../icons/twitter/twitter.pug
include ../icons/facebook/facebook.pug
include ../icons/instagram/instagram.pug

mixin s-media(props)
    - const { twitter, facebook, instagram } = props;

    .ui-smedia.ui-smedia__row.ui-smedia--align-center
        if twitter
            .ui-smedia__column-auto(style='padding-top: 3px')
                +twitter
        if facebook
            .ui-smedia__column-auto
                +facebook
        if instagram
            .ui-smedia__column-auto(style='padding-top: 4px')
                +instagram
