mixin dropdown(labelLeft='', labelRight='', placeholder='', value='',mask='')
    include ../with-label/with-label.pug

    +with-label(labelLeft, labelRight)
        .ui-dropdown
            i.ui-dropdown__icon.js-dropdown__icon
            input.ui-dropdown__label.js-dropdown__label(
                placeholder=placeholder,
                readonly
            )

            .ui-dropdown__container.js-dropdown__container
                .ui-dropdown__element
                    block
