.ui-dropdown.ui-dropdown--variant-md
    input.ui-dropdown__label.js-dropdown__label(
        placeholder="2 спальни, 2 кровати, 2 ванные",
        readonly
    )

    .ui-dropdown__container.js-dropdown__container
        .ui-dropdown__element
            a(href="#", name="test1") test1
            a(href="#", name="test2") test3
            a(href="#", name="test3") test2
