mixin dropdown(labelLeft='', labelRight='', placeholder='', value='',mask='')
    include ../with-label/with-label.pug

    +with-label(labelLeft, labelRight)
        .ui-dropdown
            .ui-dropdown__label.js-dropdown__label
                input.ui-dropdown__input.js-dropdown__input(
                    placeholder=placeholder,
                    readonly
                )
                i.ui-dropdown__icon.js-dropdown__icon

            .ui-dropdown__container.js-dropdown__container
                .ui-dropdown__element
                    block
