.ui-dropdown {
    width: 100%;

    &__label {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        position: relative;
        width: 100%;
        max-height: 44px;

        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;

        padding: 13px 18px 13px 15px;

        background: #ffffff;
        border: 1px solid $color-dark-shade25;
        border-radius: 4px;

        cursor: pointer;
    }

    &[data-drop-opened] {
        .ui-dropdown__icon {
            transform: rotate(-135deg);
        }

        &[data-label-type="text"] {
            .ui-dropdown__label {
                border-radius: 4px 4px 0px 0px;
                border: 1px solid $color-dark-shade50;
                box-shadow: 0px 10px 20px $color-dark-shade5;
            }
            .ui-dropdown__element {
                box-shadow: 0px 10px 20px $color-dark-shade5;
                clip-path: inset(0px -25px -35px -25px);
            }
        }
    }

    &__icon {
        display: block;

        width: 6.5px;
        height: 6.5px;
        border-right: 2px solid $color-dark-shade50;
        border-bottom: 2px solid $color-dark-shade50;

        transform: rotate(45deg);

        cursor: pointer;

        transform-origin: 75% 64%;
        transition: all 0.15s linear;
    }

    &__input {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 160px;

        padding: 0;
        margin-right: 15px;

        overflow: hidden;
        text-overflow: ellipsis;

        background: #ffffff;
        border: none;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $color-dark-shade75;

        cursor: pointer;

        &::placeholder {
            font-size: 14px;
            line-height: 18px;
            color: $color-dark-shade75;
        }

        &:focus {
            outline: none;
        }
    }

    &__container {
        position: fixed;
        display: none;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;

        z-index: 100;

        background: transparent;
    }

    &__element {
        display: block;
        position: absolute;
        height: min-content;

        background: #ffffff;
        border: 1px solid $color-dark-shade50;
        border-radius: 0px 0px 2px 2px;

        box-sizing: border-box;

        a {
            display: table-row;
            text-align: center;
        }
    }
}
