.room-page {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);

    &__image-block {
        height: 485px;
        width: 100%;
        background: black;
    }

    &__room-block {
        padding: 70px 140px;

        justify-content: space-between;
    }

    &__description-column {
        max-width: 711px !important;
    }
    &__book-column {
        max-width: 380px !important;
    }

    &__review {
        &-column {
            margin-left: -1px;
        }
        &-amount {
            margin-top: 7px;
            margin-right: 1px;

            font-size: 14px;
            line-height: 14px;
            color: rgba(31, 32, 65, 0.5);
        }
    }

    &__rating {
        &-column {
            max-width: 311px !important;
            padding-right: 39px;
        }

        height: 126px;
        width: 100%;
        background: black;

        box-sizing: border-box;
    }

    &__rules {
        &-column {
            max-width: 280px !important;
        }
        &-title {
            padding-left: 20px;
        }
    }

    &__cancel {
        &-column {
            max-width: 341px !important;
            padding-right: 9px;
        }
    }

    &__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &__column-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    &__column100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &--justify {
        &-between {
            justify-content: space-between;
        }
    }

    &--line-height {
        &24 {
            line-height: 24px;
        }
    }

    &--width {
        &280 {
            max-width: 280px;
        }
    }

    &--margin-bottom {
        &18 {
            margin-bottom: 18px;
        }
        &20 {
            margin-bottom: 20px;
        }
        &23 {
            margin-bottom: 23px;
        }
        &34 {
            margin-bottom: 34px;
        }
        &33 {
            margin-bottom: 33px;
        }
    }
}

@media (max-width: 1360px) {
    .room-page {
        &__room-block {
            padding: 70px 140px;

            justify-content: center;
        }

        &__description-column {
            max-width: 100% !important;
        }
        &__book-column {
            margin-top: 40px;
        }

        &__rating {
            &-column {
                padding-right: 0px;
            }
        }

        &__review {
            &-column {
                margin-left: 0px;
            }
        }

        &__cancel {
            &-column {
                padding-right: 0px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .room-page {
        &__room-block {
            padding: 60px 60px;
        }
    }
}

@media (max-width: 992px) {
    .room-page {
        &__room-block {
            padding: 50px 40px;
        }
    }
}

@media (max-width: 768px) {
    .room-page {
        &__rules {
            &-column {
                max-width: 100% !important;
            }
        }
        &__cancel {
            &-column {
                margin-top: 30px;
                max-width: 100% !important;
            }
        }
    }
}

@media (max-width: 576px) {
    .room-page {
        &__room-block {
            padding: 30px 20px;
        }
        &__book-column {
            max-width: 280px !important;
        }
    }
}
