.room-page {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);

    &__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &__column-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    &__column100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &__main-image {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 980px;

        height: 485px;

        img {
            width: 100%;
        }
    }

    &__aux-image-column {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 460px;
    }

    &__aux-image {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;

        height: 242.5px;
        img {
            width: 100%;
        }
    }

    &__room-block {
        padding: 70px 140px;

        justify-content: space-between;
    }

    &--max-width1440 {
        max-width: 1440px;
    }

    &__description-column {
        max-width: 711px;
    }
    &__book-column {
        max-width: 380px;
        margin-top: -1px;
    }

    &__review {
        &-column {
            margin-left: -1px;
        }
        &-amount {
            margin-top: 7px;
            margin-right: 1px;

            font-size: 14px;
            line-height: 14px;
            color: rgba(31, 32, 65, 0.5);
        }
    }

    &__rating {
        &-column {
            max-width: 311px;
            padding-right: 39px;
        }

        height: 126px;
        width: 100%;

        box-sizing: border-box;
    }

    &__rules {
        &-column {
            max-width: 280px;
            margin-left: -2px;
        }
        &-title {
            padding-left: 21px;
        }
    }

    &__cancel {
        &-column {
            max-width: 341px;
            padding-right: 9px;
        }
    }

    &--justify {
        &-between {
            justify-content: space-between;
        }
        &-center {
            justify-content: center;
        }
    }

    &--line-height {
        &24 {
            line-height: 24px;
        }
    }

    &--width {
        &280 {
            max-width: 280px;
        }
    }

    &--margin-bottom {
        &18 {
            margin-bottom: 18px;
        }
        &19 {
            margin-bottom: 19px;
        }
        &20 {
            margin-bottom: 20px;
        }
        &21 {
            margin-bottom: 21px;
        }
        &23 {
            margin-bottom: 23px;
        }
        &22 {
            margin-bottom: 22px;
        }
        &34 {
            margin-bottom: 34px;
        }
        &33 {
            margin-bottom: 33px;
        }
    }
}

@media (max-width: 1439px) {
    .room-page {
        &__main-image {
            max-width: 100%;
            height: min-content;
        }

        &__aux-image-column {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        &__aux-image {
            height: min-content;
        }
    }
}

@media (max-width: 1360px) {
    .room-page {
        &__room-block {
            padding: 70px 140px;

            justify-content: center;
        }

        &__description-column {
            max-width: 100%;
        }
        &__book-column {
            margin-top: 40px;
        }

        &__rating {
            &-column {
                padding-right: 0px;
            }
        }

        &__review {
            &-column {
                margin-left: 0px;
            }
        }

        &__cancel {
            &-column {
                padding-right: 0px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .room-page {
        &__room-block {
            padding: 60px 60px;
        }
    }
}

@media (max-width: 992px) {
    .room-page {
        &__room-block {
            padding: 50px 40px;
        }
    }
}

@media (max-width: 768px) {
    .room-page {
        &__rules {
            &-column {
                max-width: 100%;
            }
        }
        &__cancel {
            &-column {
                margin-top: 30px;
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 576px) {
    .room-page {
        &__room-block {
            padding: 30px 20px;
        }
        &__book-column {
            max-width: 280px;
        }
    }
}
