extends ../main-layout/main-layout.pug
block meta
    block meta
block scripts
    block scripts
block styles
    block styles
block navigation
    include ui-kit-demo-nav/ui-kit-demo-nav.pug
block content
    block content
