doctype html
html(lang="ru")
    head
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        meta(http-equiv="X-UA-Compatible", content="ie=edge") 

        link(rel="icon", type="image/png", href="/favicon.png?v=3")
        link(rel="mask-icon", href="/favicon.svg", color="orange")
        block meta

        script(type="text/javascript", src="/libs/juery/jquery-3.5.1.min.js")
        block scripts
        block styles
    body
        nav.navigation-container
            block navigation
        main.main-container
            block content
        footer.footer-container
            block footer
