doctype html
html(lang="ru")
    head
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        meta(http-equiv="X-UA-Compatible", content="ie=edge") 
        block meta
        script(
            type="text/javascript",
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        )
        block scripts
        block styles
    body
        .navigation-container
            block navigation
        main.main-container
            block content
        .footer-container
            block footer
