.ui-toxin-logo {
    box-sizing: border-box;

    display: flex;
    display: -ms-flexbox;

    align-items: center;

    max-height: min-content;

    & > svg {
        margin-left: 12px;
        &:first-of-type {
            margin-left: 0px;
        }
    }
}

@media (max-width: 576px) {
    .ui-toxin-logo {
        & > svg {
            margin-left: 4px;
            height: 12px;
            &:first-of-type {
                width: 30px;
                height: 30px;
            }
        }
    }
}
