include ../icons/logo/logo-colored.pug
include ../icons/toxin/toxin.pug

mixin toxin-logo(props)
    .ui-toxin-logo
        .ui-toxin-logo__logo
            +logo-colored
        .ui-toxin-logo__text
            +toxin
