include ../../buttons/rate/rate.pug
include ../../image-slider/image-slider.pug
include ../../card/card.pug

include ../card-title/card-title.pug

mixin room(props)
    - const { number, type, price, reviews = 0, checkedStars = 5, images = [], noButtons } = props;
    article.ui-room
        +card({type: "sm"})
            section.ui-room__image
                +image-slider({images, noButtons})
            .ui-card__column100.ui-room--padding.ui-room--vertical-spacing
                section.ui-card__column100.ui-room__element
                    +card-title({number, type, price, titleStyle: 'sm'})
                section.ui-card__column100.ui-room__element
                    .ui-card__row.ui-card--align-end
                        .ui-card__column
                            +rate({checkedStars})
                        .ui-card__column-auto.ui-room--text
                            .ui-card__row.ui-card--align-end <b>#{reviews}&nbsp</b> Отзывов
