.form-page-layout {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &--padding {
        padding: 64px 141px 132px 141px;
    }

    &__column {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;

        &--margin-top {
            margin-top: 100px;
        }
    }
}

@media (max-width: 1200px) {
    .form-page-layout {
        &--padding {
            padding: 53px 50px 132px 50px;
        }
    }
}

@media (max-width: 992px) {
    .form-page-layout {
        &--padding {
            padding: 50px 30px 80px 30px;
        }
    }
}
