extends ../../components/ui-kit-demostartion-layout/ui-kit-demostartion-layout.pug

block meta
    title Элементы форм
block scripts
    script(src="/libs/mask/jquery.inputmask.js")
block content
    .form-page-layout.form-page-layout--padding
        .form-page-layout__column 
            include form-elements-page-block/form-page-top-block/form-page-top-block.pug
        .form-page-layout__column.form-page-layout__column--margin-top 
            include form-elements-page-block/form-page-bottom-block/form-page-bottom-block.pug
