include increase-form-element/increase-form-element.pug
include ../buttons/button/button.pug

mixin increase-form(props)
    - const { list, hasSubmit, type, variant = 'sm', clearHidden = false } = props;

    div(
        class='increase-form increase-form__row increase-form--spacing' + (' increase-form--padding-' + variant) + (type ? ' js-inc-' + type : '')
    )
        each value in list
            .increase-form__column100
                +increase-form-element(value)
        if (hasSubmit)
            .increase-form__column100.increase-form--margin
                .increase-form__row.increase-form__row--justify-between
                    div(
                        class='increase-form__column' + (clearHidden ? ' increase-form--hide-button' : '')
                    )
                        +button({label: "очистить", variant: "nofill", dataType: "clear", type: "button"})
                    .increase-form__auto
                        +button({label: "применить", variant: "nofill", dataType: "apply", type: "button"})
