@import "./increase-form-element/increase-form-element.scss";

.increase-form {
    &--padding-sm {
        padding: 6px 6px 7px 14px;
    }
    &--padding-md {
        padding: 6px 6px 12px 14px;
    }

    &--spacing {
        .increase-form__column100:not(.increase-form--margin) {
            margin-top: 7px;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    &__column100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &__column {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    &__auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    &--margin {
        margin-top: 19px;
    }

    &__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &--hide-button {
        button {
            visibility: hidden;
        }
    }
}
