.daterangepicker.ltr.single.opensleft.show-calendar(
    style="display: block; position: relative; top: 0; left: 0"
)
    .ranges
    .drp-calendar.left.single(style="display: block")
        .calendar-table
            table.table-condensed
                thead
                    tr
                        th.prev.available <span></span>
                        th.month(colspan="5") Август<br />2019
                        th.next.available <span></span>
                    tr
                        th Пн
                        th Вт
                        th Ср
                        th Чт
                        th Пт
                        th Сб
                        th Вс
                tbody
                    tr
                        td.off.ends.available(data-title="r0c0") 29
                        td.off.ends.available(data-title="r0c1") 30
                        td.off.ends.available(data-title="r0c2") 31
                        td.off.ends.available(data-title="r0c3") 1
                        td.available(data-title="r0c4") 2

                        td.weekend.available(data-title="r0c5") 3
                        td.weekend.available(data-title="r0c6") 4
                    tr
                        td.available(data-title="r1c0") 5
                        td.available(data-title="r1c1") 6
                        td.available(data-title="r1c2") 7
                        td.active.start-date.active.end-date.available(
                            data-title="r1c3"
                        ) 8
                        td.available(data-title="r1c4") 9
                        td.weekend.available(data-title="r1c5") 10
                        td.weekend.available(data-title="r1c6") 11
                    tr
                        td.available(data-title="r2c0") 12
                        td.available(data-title="r2c1") 13
                        td.today.available(data-title="r2c2") 14
                        td.available(data-title="r2c3") 15
                        td.available(data-title="r2c4") 16
                        td.weekend.available(data-title="r2c5") 17
                        td.weekend.available(data-title="r2c6") 18
                    tr
                        td.active.start-date.available(data-title="r3c0") 19
                        td.in-range.available(data-title="r3c1") 20
                        td.in-range.available(data-title="r3c2") 21
                        td.in-range.available(data-title="r3c3") 22
                        td.in-range.active.end-date.available(
                            data-title="r3c4"
                        ) 23
                        td.weekend.available(data-title="r3c5") 24
                        td.weekend.available(data-title="r3c6") 25
                    tr
                        td.available(data-title="r4c0") 26
                        td.available(data-title="r4c1") 27
                        td.available(data-title="r4c2") 28
                        td.available(data-title="r4c3") 29
                        td.available(data-title="r4c4") 30
                        td.available(data-title="r4c5") 31

                        td.weekend.off.ends.available(data-title="r4c6") 1

        .calendar-time(style="display: none")

    .drp-calendar.right(style="display: none")
        .calendar-table
            table.table-condensed
                thead
                    tr
                        th.prev.available <span></span>
                        th.month(colspan="5") Январь<br />2021
                        th.next.available <span></span>
                    tr
                        th Пн
                        th Вт
                        th Ср
                        th Чт
                        th Пт
                        th Сб
                        th Вс
                tbody
                    tr
                        td.off.ends.available(data-title="r0c0") 28
                        td.off.ends.available(data-title="r0c1") 29
                        td.off.ends.available(data-title="r0c2") 30
                        td.off.ends.available(data-title="r0c3") 31
                        td.available(data-title="r0c4") 1
                        td.weekend.available(data-title="r0c5") 2
                        td.weekend.available(data-title="r0c6") 3
                    tr
                        td.available(data-title="r1c0") 4
                        td.available(data-title="r1c1") 5
                        td.available(data-title="r1c2") 6
                        td.available(data-title="r1c3") 7
                        td.available(data-title="r1c4") 8
                        td.weekend.available(data-title="r1c5") 9
                        td.weekend.available(data-title="r1c6") 10
                    tr
                        td.available(data-title="r2c0") 11
                        td.available(data-title="r2c1") 12
                        td.available(data-title="r2c2") 13
                        td.available(data-title="r2c3") 14
                        td.available(data-title="r2c4") 15
                        td.weekend.available(data-title="r2c5") 16
                        td.weekend.available(data-title="r2c6") 17
                    tr
                        td.available(data-title="r3c0") 18
                        td.available(data-title="r3c1") 19
                        td.available(data-title="r3c2") 20
                        td.available(data-title="r3c3") 21
                        td.available(data-title="r3c4") 22
                        td.weekend.available(data-title="r3c5") 23
                        td.weekend.available(data-title="r3c6") 24
                    tr
                        td.available(data-title="r4c0") 25
                        td.available(data-title="r4c1") 26
                        td.available(data-title="r4c2") 27
                        td.available(data-title="r4c3") 28
                        td.available(data-title="r4c4") 29
                        td.weekend.available(data-title="r4c5") 30
                        td.weekend.available(data-title="r4c6") 31
                    tr
                        td.off.ends.available(data-title="r5c0") 1
                        td.off.ends.available(data-title="r5c1") 2
                        td.off.ends.available(data-title="r5c2") 3
                        td.off.ends.available(data-title="r5c3") 4
                        td.off.ends.available(data-title="r5c4") 5
                        td.weekend.off.ends.available(data-title="r5c5") 6
                        td.weekend.off.ends.available(data-title="r5c6") 7
        .calendar-time(style="display: none")
    .drp-buttons
        button.cancelBtn.btn.btn-sm.btn-default(type="button") Очистить
        button.applyBtn.btn.btn-sm.btn-primary(type="button") Применить
