mixin book-title(props)
    - const { number, type, price } = props;

    .ui-card__row.ui-card--align-end.ui-card__book-title
        .ui-card__column
            .ui-card__book-title-number.ui-card__row.ui-card--align-end <b>№&nbsp</b>
                h1 #{number}
                if type
                    h3 #{type}
        .ui-card__column-auto
            .ui-card__book-title-price.ui-card__row.ui-card--align-end <b>#{price}&#8381&nbsp</b> в сутки
