include ../../card/card.pug

include ../../dropdown/dropdown.pug
include ../../increase-form/increase-form.pug
include ../../calculate-price/calculate-price.pug

include ../../buttons/button/button.pug
include ../../icons/arrow-forward/arrow-forward.pug

include ../card-title/card-title.pug

mixin book(props)
    - const { number, type, price } = props;
    +card({})
        form.ui-card__column100(action="#", method="POST")
            .ui-card__column100.ui-card--margin-bottom23
                +book-title({number, type, price, title})
            .ui-card__column100.ui-card--margin-bottom21
                .ui-card__row.ui-card--spacing
                    .ui-card__column50
                        +dropdown({ placeholder:"ДД.ММ.ГГГГ", labelLeft: "прибытие", value: "19.08.2019", type: "date", opens: "right"})
                    .ui-card__column50
                        +dropdown({ placeholder:"ДД.ММ.ГГГГ",labelLeft: "выезд", value: "23.08.2019", type: "date"})

            .ui-card__column100.ui-card--margin-bottom18
                +dropdown({ labelLeft: "гости", value: "3 гостя", type: "text"})
                    +increase-form({type: "guests", variant: "md", hasSubmit: true, list: [{title: "взрослые", value: 2, minValue: 0, maxValue: 5, step: 1}, {title: "дети", value: 1, minValue: 0, maxValue: 5, step: 1}, {title: "младенцы", value: 0, minValue: 0, maxValue: 5, step: 1}]})

            .ui-card__column100.ui-card--margin-bottom20
                +calculate-price({roomPrice: 9990, days: 4, discount: 2179, other: 300})
            .ui-card__column100
                +button({label: "забронировать", variant: "long", icon: true})
                    +arrow-forward
