include ../../../../ui-kit/collapse/collapse.pug
include ../../../../ui-kit/vertical-list/vertical-list.pug
include ../../../../ui-kit/with-label/with-label.pug

.form-page-block-layout
    .form-page-block-layout__column
        .form-page-block
            .form-page-block__column100.form-page-block--width-320
                .form-page-block__column100.form-page-block--width-280
                    +vertical-list({labelVariant: "none", listStyle: "separated", variant: "feature", list: [{ icon: "comfort", title: "Комфорт", description: "Шумопоглощающие стены" }, { icon: "convinient", title: "Удобство", description: "Окно в каждой из спален" }, { icon: "cosy", title: "Уют", description: "Номер оснащён камином" }]})

    .form-page-block-layout__column.form-page-block-layout__column--footer.form-page-block-layout--padding-left
