include ../checkbox/checkbox.pug
include ../with-label/with-label.pug
include ../radio-group/radio-group.pug
include ../switch/switch.pug
include ../feature/feature.pug

mixin vertical-list(props)
    - const { listStyle, list = [], variant, labelLeft, labelRight, labelVariant } = props;

    +with-label({labelLeft, labelRight, variant: labelVariant})
        ul(
            class='ui-vertical-list' + (listStyle ? ` ui-vertical-list--${listStyle}` : '')
        )
            each value in list
                case variant
                    when "checkbox"
                        li.ui-vertical-list__entry
                            +checkbox(value)
                    when "radio"
                        li.ui-vertical-list__entry
                            +radio-group({list: value})
                    when "switch"
                        li.ui-vertical-list__entry
                            +switch(value)
                    when "feature"
                        li.ui-vertical-list__entry
                            +feature(value)
                    default
                        li.ui-vertical-list__entry.ui-vertical-list__entry--with-bullet
                            each val, index in value
                                if (index === 0)
                                    | !{val}
                                else
                                    br 
                                    | !{val}
