include ../checkbox/checkbox.pug
include ../with-label/with-label.pug
include ../radio-group/radio-group.pug
include ../switch/switch.pug

mixin vertical-list(props)
    - const { list = [], variant, labelLeft, labelRight, labelVariant } = props;
    - console.log(value)

    +with-label({labelLeft, labelRight, variant: labelVariant})
        ul.ui-vertical-list
            each value in list
                case variant
                    when "checkbox"
                        li.ui-vertical-list__entry
                            +checkbox(value)
                    when "radio"
                        li.ui-vertical-list__entry
                            +radio-group({list: value})
                    when "switch"
                        li.ui-vertical-list__entry
                            +switch(value)
                    default
                        li #{value}        