.ui-like {
    display: flex;
    position: relative;
    box-sizing: border-box;

    padding: 0px 0px 0px 20px;
    min-height: 20px;
    min-width: 40px;

    background: #ffffff;
    border: 1px solid $color-dark-shade25;
    border-radius: 10px;

    align-items: center;

    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &--checked {
        border-color: transparent;
        background: linear-gradient(white, white) padding-box,
            $color-gradient-purple;

        .ui-like__label {
            color: $color-purple;
        }
        .ui-like__checkmark {
            background-image: url(../ui-kit/icons/favourite/favourite-active.svg);
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark {
        position: absolute;
        display: block;

        top: 5px;
        left: 5px;

        background-image: url(../ui-kit/icons/favourite/favourite.svg);
        width: 10px;
        height: 8px;
    }

    &__label {
        font-size: 10px;
        line-height: 12px;
        color: $color-dark-shade25;
    }
}
