.ui-text-input {
    position: relative;
    width: 100%;

    .ui-text-input__input {
        width: 100%;
        max-height: 44px;

        padding: 13px 15px 13px 15px;

        background: #ffffff;
        border: 1px solid $color-dark-shade25;
        box-sizing: border-box;
        border-radius: 4px;

        font-family: Montserrat, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;

        transition: border 0.2s linear;

        color: $color-dark-shade75;

        &[data-masktype='date'] {
            color: $color-dark-shade25;
        }

        &::placeholder {
            font-size: 14px;
            line-height: 18px;
            color: $color-dark-shade25;
        }

        &:hover {
            border: 1px solid $color-dark-shade50;
        }
        &:focus {
            border: 1px solid $color-dark-shade50;
            outline: none;
        }

        &--force-hover {
            border: 1px solid $color-dark-shade50;
        }
    }

    &--submitable {
        .ui-text-input__input {
            padding-right: 44px;
        }
    }
    .ui-text-input__icon {
        position: absolute;
        display: block;

        top: 14px;
        right: 14px;

        background-color: transparent;
        border: none;
        padding: 0;

        cursor: pointer;
    }
}
