extends ../../components/ui-kit-demostartion-layout/ui-kit-demostartion-layout.pug

include ../../ui-kit/header/header.pug
include ../../ui-kit/footer/footer.pug
include ../../ui-kit/footer/footer-creative.pug

block meta
    title Хедер и футер
    meta(name="description", content="Demo page")
block scripts
block styles

block content
    article.hf-page.hf-page__row.hf-page--padding.hf-page--justify-center
        section.hf-page__column100
            +header({})
        section.hf-page__column100.hf-page--margin-top
            +header({loggedIn: true, name: "Юлий Цезарь"})
        section.hf-page__column100.hf-page--margin-top
            +footer({})
        section.hf-page__column100.hf-page--width768.hf-page--margin-top
            +footer-creative({})
