extends ../../components/ui-kit-demostartion-layout/ui-kit-demostartion-layout.pug

include ../../ui-kit/header/header.pug

block meta
    title Хедер и футер
block scripts
block styles

block content
    .hf-page.hf-page__row.hf-page--padding.hf-page--justify-center
        .hf-page__column100
            +header({})
        .hf-page__column100.hf-page--margin-top
            +header({})
        .hf-page__column100.hf-page--margin-top
            div(style="height: 433px; width: 100%; background: black")
        .hf-page__column100.hf-page--width768.hf-page--margin-top
            div(style="height: 367px; width: 100%; background: black")
