mixin switch(props)
    - const { name, label, checked } = props;

    label.ui-switch #{label}
        input.ui-switch__input(type="checkbox", checked=checked, name=name)
        span.ui-switch__slider
