.ui-nav-dropdown {
    display: flex;
    display: -ms-flexbox;

    align-items: center;

    position: relative;
    cursor: pointer;

    &[data-navdropdown-hover='true'] {
        & > .ui-nav-dropdown__arrow {
            &::after {
                transform: rotate(225deg);
            }
        }
    }

    &__m-button {
        position: relative;
        width: 25px;
        height: 25px;
        box-sizing: border-box;

        background: linear-gradient(
            to bottom,
            $color-dark-shade75 20%,
            transparent 21%,
            transparent 40%,
            $color-dark-shade75 41%,
            $color-dark-shade75 60%,
            transparent 61%,
            transparent 80%,
            $color-dark-shade75 81%
        );

        ::after {
            content: '';
            display: block;
            position: absolute;
        }

        & + .ui-nav-dropdown__list {
            right: unset;
            left: -150%;
        }
    }

    &__arrow {
        position: relative;
        padding-right: 25px;
        &::after {
            content: '';
            display: block;
            position: absolute;

            top: calc(50% - 4.5px);
            right: 9px;

            width: 6.5px;
            height: 6.5px;

            border-color: $color-dark-shade50;
            border-style: solid;

            border-width: 0px 2px 2px 0px;

            transform-origin: 75% 64%;
            transform: rotate(45deg);
            transition: all 0.15s linear;
        }
    }

    &__title {
        display: block;
        padding: 10px 0x;

        text-decoration: none;

        font-size: 14px;
        transition: 0.3s linear;

        color: $color-dark-shade75;

        &--bold {
            font-weight: bold;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__list {
        display: none;
        position: absolute;
        z-index: 1;

        right: 0;
        top: 100%;

        margin: 0;
        padding: 0;

        width: max-content;

        background-color: white;
        border-radius: 4px;

        border: 1px solid $color-dark-shade50;
        box-shadow: $shadow5;

        .ui-nav-dropdown__list {
            top: 0;
            right: calc(100% - 10px);
        }
    }

    &__list-item {
        border-top: 1px solid #444;
        display: block;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;

        &:first-of-type {
            border-top: none;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        > div,
        section {
            padding-right: 10px;
            .ui-nav-dropdown__title {
                padding-top: 10px;
                padding-left: 14px;
                padding-bottom: 10px;
            }
        }

        a {
            padding: 10px 14px;
            display: block;
            text-decoration: none;
            color: $color-dark-shade75;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
