mixin nav-dropdown(props)
    - const { root, list } = props;

    .ui-nav-dropdown.js-nav-dropdown
        if root
            case root.node
                when "a"
                    a.ui-nav-dropdown__title(href=root.link) #{root.title}
                when "div"
                    .ui-dropdown__root #{root.title}
        if list
            ul.ui-nav-dropdown__list.js-nav-dropdown__list
                each value in list
                    li.ui-nav-dropdown__list-item
                        a(href="#") #{value}
