.ui-header {
    height: 70px;
    width: 100%;

    box-sizing: border-box;

    justify-content: space-between;

    padding: 0px 140px 0px 140px;

    background-color: white;
    box-shadow: $shadow5;

    &__row {
        display: flex;
        display: -ms-flexbox;
    }

    &--align-center {
        align-items: center;
    }

    &--row-margin {
        margin-left: -10px;
        margin-right: -10px;
    }

    &__item {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__name {
        margin-left: 11px;

        padding-left: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-left: 1px solid $color-dark-shade10;
    }
}
