include ../../card/card.pug

include ../../dropdown/dropdown.pug

include ../../buttons/button/button.pug
include ../../icons/arrow-forward/arrow-forward.pug

+card({title: "Найдём номера под ваши пожелания"})
    form.ui-card__column100(action="#", method="POST")
        .ui-card__column100.ui-card--margin-bottom-md
            .ui-card__row.ui-card--spacing
                .ui-card__column50
                    +dropdown({ placeholder:"ДД.ММ.ГГГГ", labelLeft: "прибытие", type: "date", opens: "right"})
                .ui-card__column50
                    +dropdown({ placeholder:"ДД.ММ.ГГГГ",labelLeft: "выезд", type: "date"})

        .ui-card__column100.ui-card--margin-bottom-xl
            +dropdown({ placeholder:"Сколько гостей", labelLeft: "гости", type: "text"})
        .ui-card__column100
            +button({label: "подобрать номер", variant: "long", icon: true})
                +arrow-forward
